{% extends 'cbtsystem/index.html' %}

{% block content %}
<br>
<div class="container border border-secondary border border-1 rounded-3 px-3" id="timebox">

        <div class="progress mt-3 mb-2 bg-secondary " style="height: 30px;">
            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
        </div>

        <div class="d-flex justify-content-start text-secondary pe-4 mb-3">
            <h3>
                <span class="text-dark" style="cursor: progress;">
                    <i class="bi bi-clock-history timerOn" id="timer"></i> Remaining Break Time &nbsp;
                </span>

                <span id="demo" class=" h1">10:00</span>
            </h3>
        </div>
        <div class="ms-3">
            <li>use local storage to start of break time</li>
            <li>use local storage to start of break time</li>
            <li>use local storage to start of break time</li>
            <li>use local storage to start of break time</li>
            <li>use local storage to start of break time</li>
            <li>use local storage to start of break time</li>
            <li>use local storage to start of break time</li>
            <li>use local storage to start of break time</li>
        </div>
        <br>


    </div>
    <div class="text-center py-5">
<!--        <button type="button" class="btn btn-outline-danger btn-lg" onclick="upDateTimer()">Update Timer</button>-->
         <a href="{% url 'directions2' %}" class="btn btn-secondary btn-lg">Start Section <i
                class="bi bi-arrow-right-circle"></i></a>


    </div>

    <script>


<!--        function upDateTimer() {-->
<!--            document-->
<!--                .getElementsByClassName("progress-bar")[0]-->
<!--                .setAttribute("style", "width:" + 50 + "%");-->

<!--        }-->



        var breakTime = 60000
        var currentSeconds = 60000
        var countDownDate = (Date.now() + 60000)
        var x = setInterval(function () {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            currentSeconds -= 1000
            var progressPercentage = (currentSeconds / breakTime).toFixed(2) * 100
            document
                .getElementsByClassName("progress-bar")[0]
                .setAttribute("style", "width:" + progressPercentage + "%");


            if (hours < 10) {
                hours = "0" + hours
            }
            if (minutes < 10) {
                minutes = "0" + minutes
            }
            if (seconds < 10) {
                seconds = "0" + seconds
            }

            document.getElementById("demo").innerHTML =
                + minutes + ":" + seconds;

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "TIME'S UP";
                var timebox = document.getElementById("timebox")

                timebox.classList.add("bg-danger");
            }
        }, 1000);

        function timerFunction() {

            var timer = document.getElementById("timer");
            var demo = document.getElementById("demo");

            if (timer.classList.contains('timerOn')) {

                demo.style.display = "none";
                timer.classList.remove("timerOn");


            } else {
                demo.style.display = "block";
                timer.classList.add("timerOn");

            }



        }





    </script>
{% endblock %}