{% extends 'cbtsystem/index.html' %}

{% block content %}

<div class="container">
    <h5 id="testName" class="text-center text-warning">SAT: </h5>
    <br>

    <div class="d-flex justify-content-start text-danger pe-4 mb-3">
        <h3>
            <span class="text-dark">Writing Directions &nbsp;
            </span>

        </h3>
    </div>
    <div class="ms-3">
        <li>Mobile phones, smartwatches, fitness trackers, or other wearable technology (simple nondigital watches are
            acceptable)
        </li>
        <li>Separate timers of any type</li>
        <li>Cameras or any other photographic equipment</li>
        <li>Unacceptable calculators that have QWERTY (computer-like) keypads, use paper tape, make noise, or use a
            power cord
        </li>
        <li>Mobile phones, smartwatches, fitness trackers, or other wearable technology (simple nondigital watches are
            acceptable)
        </li>
        <li>Separate timers of any type</li>
        <li>Cameras or any other photographic equipment</li>
        <li>Unacceptable calculators that have QWERTY (computer-like) keypads, use paper tape, make noise, or use a
            power cord
        </li>



    </div>

    <div class="text-center py-5">

        <a href="{% url 'cbtwriting' %}" class="btn btn-secondary btn-lg">Start Next Section <i
                class="bi bi-arrow-right-circle"></i></a>
    </div>


    <script>

var selectedTest = localStorage.getItem("selectedTest")
var selectedTestId = localStorage.getItem("selectedTestId")
        function myTest() {
  document.getElementById("testName").innerHTML = `SAT: ${selectedTest} - ${selectedTestId}`
}

myTest()




    </script>
</div>


{% endblock %}