{% extends 'cbtsystem/index.html' %}

{% block content %}

<div class="container">


    <h5 id="testName" class="text-center text-warning">SAT: </h5>
    <br>
    <div class="d-flex justify-content-start   pe-4 mb-3">
        <h3>
            <span class="text-dark">Module 1 Directions &nbsp;
            </span>
        </h3>

    </div>
    <div class="progress bg-dark" style="height: 5px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 1%;"
             aria-valuenow="25"
             aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>

    <br>


    <div class="ms-3">
        <p>
            The questions in this section address a number of important reading and writing skills. Each question
            includes one
            or more texts, which may include a table or a graph. Read each text and question carefully, then choose the
            best answer
            to the question based on the text(s).


        </p>

        <p> All questions in this section are multiple-choice with four answer choices. Each question has a single best
            answer.
        </p>
        <br>
        <li>Mobile phones, smartwatches, fitness trackers, or other wearable technology (simple nondigital watches are
            acceptable)
        </li>
        <li>Separate timers of any type</li>
        <li>Cameras or any other photographic equipment</li>
        <li>Unacceptable calculators that have QWERTY (computer-like) keypads, use paper tape, make noise, or use a
            power cord
        </li>
    </div>

    <div class="text-center py-5" id="linkDiv">

        <a href="{% url 'demo' %}" class="btn btn-secondary btn-lg d-none" id="startBtn">Start Section <i
                class="bi bi-arrow-right-circle"></i></a>
    </div>


    <br>


    <div id="jsData"></div>


    <script>

var selectedTest = localStorage.getItem("selectedTest")
var selectedTestId = localStorage.getItem("selectedTestId")
        function myTest() {
  document.getElementById("testName").innerHTML = `SAT: ${selectedTest} - ${selectedTestId}`
}

myTest()







    </script>
    <script>

        var progressPercentage = 0
        var x = setInterval(function () {
            document
                .getElementsByClassName("progress-bar")[0]
                .setAttribute("style", "width:" + progressPercentage + "%");

            progressPercentage += 2
<!--            console.log(progressPercentage)-->
            if (progressPercentage >= 80) {
                clearInterval(x);

            }

        }, 100);


var apiList = [];
var studentApi = "";

const user_id = JSON.parse(document.getElementById("user_id").textContent);


function getPending() {
  fetch("http://127.0.0.1:8000/pendingapi")
    .then((resp) => resp.json())
    .then(function (data) {
      apiList = data;

      for (i in apiList) {
        if (apiList[i].studentId == user_id) {
          studentApi = apiList[i];
          break
        }
      }
    })
    .then(function () {
      console.log("studentApi", studentApi);

<!--      document.getElementById("jsData").innerHTML =-->
<!--       `Reading: ${studentApi.studentAnswersReading}  / timeLeftReading: ${studentApi.timeLeftReading} <br>-->

<!--       Writing: ${studentApi.studentAnswersWriting} / timeLeftReading: ${studentApi.timeLeftWriting} <br>-->

<!--       studentApi.testName:  ${studentApi.testName}`;-->

       document.getElementById("jsData").innerHTML = 'Test is ready. Good Luck!'



      if (studentApi.testId === selectedTestId) {

        localStorage.setItem("readingApi", studentApi.studentAnswersReading);
        localStorage.setItem("readingApiTime", studentApi.timeLeftReading);

        localStorage.setItem("writingApi", studentApi.studentAnswersWriting);
        localStorage.setItem("writingApiTime", studentApi.timeLeftWriting);

                      localStorage.setItem(
                "mathOneApi",
                studentApi.studentAnswersMathOne
              );
              localStorage.setItem(
                "mathOneApiTime",
                studentApi.timeLeftMathOne
              );

              localStorage.setItem(
                "mathTwoApi",
                studentApi.studentAnswersMathTwo
              );
              localStorage.setItem(
                "mathTwoApiTime",
                studentApi.timeLeftMathTwo
              );

        document.getElementById("startBtn").classList.remove("d-none", "btn-secondary");
        document.getElementById("startBtn").classList.add("btn-outline-warning");

        var goTest = ` <a href="http://127.0.0.1:8000/cbtreading_pk/${studentApi.testId}  " class="btn btn-warning btn-lg " id="startBtn">Start Section <i
                class="bi bi-arrow-right-circle"></i></a>`

        document.getElementById("linkDiv").innerHTML = goTest



progressPercentage = 100


      } else {


        localStorage.removeItem("readingApi");
        localStorage.removeItem("readingApiTime");

        localStorage.removeItem("writingApi");
        localStorage.removeItem("writingApiTime");

                localStorage.removeItem("mathOneApi");
        localStorage.removeItem("mathOneApiTime");

                localStorage.removeItem("mathTwoApi");
        localStorage.removeItem("mathTwoApiTime");


<!--              document.getElementById("startBtn").classList.remove("d-none");-->
<!--              progressPercentage = 100-->



                      document.getElementById("startBtn").classList.remove("d-none", "btn-secondary");
        document.getElementById("startBtn").classList.add("btn-outline-warning");

        var goTest = `<a href="http://127.0.0.1:8000/cbtreading_pk/${selectedTestId}  " class="btn btn-secondary btn-lg " id="startBtn">Start Section <i
                class="bi bi-arrow-right-circle"></i></a>`
progressPercentage = 100
        document.getElementById("linkDiv").innerHTML = goTest







      }


    });
}

getPending();







    </script>


</div>


{% endblock %}