{% extends 'cbtsystem/index.html' %}

{% block content %}

<div class="container">

    <h5 id="testName" class="text-center text-warning">SAT: </h5>
    <br>
    <div class="d-flex justify-content-start text-danger pe-4 mb-3">
        <h3>
            <span class="text-light" onclick="timerFunction()" style="cursor: pointer;">Reading Directions Page &nbsp;
            </span>

        </h3>
    </div>
    <div class="ms-3">
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
    </div>

    <div class="text-center py-5">

        <a href="{% url 'demo' %}" class="btn btn-secondary btn-lg">Start Next Section <i
                class="bi bi-arrow-right-circle"></i></a>
    </div>


    <script>

var selectedTest = localStorage.getItem("selectedTest")
        function myTest() {
  document.getElementById("testName").innerHTML = "SAT: " + selectedTest;
}

myTest()

    </script>

</div>


{% endblock %}