{% extends 'cbtsystem/index.html' %}

{% block content %}

<div class="container">
    <h5 id="testName" class="text-center text-warning">SAT: </h5>
    <br>

    <div class="d-flex justify-content-start text-danger pe-4 mb-3">
        <h3>
            <span class="text-dark">Writing Section Directions &nbsp;
            </span>

        </h3>
    </div>

    <div class="progress bg-secondary" style="height: 5px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 1%;"
             aria-valuenow="25"
             aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>

    <br>
    <div class="ms-3">
        <li>Mobile phones, smartwatches, fitness trackers, or other wearable technology (simple nondigital watches are
            acceptable)
        </li>
        <li>Separate timers of any type</li>
        <li>Cameras or any other photographic equipment</li>
        <li>Unacceptable calculators that have QWERTY (computer-like) keypads, use paper tape, make noise, or use a
            power cord
        </li>
        <li>Mobile phones, smartwatches, fitness trackers, or other wearable technology (simple nondigital watches are
            acceptable)
        </li>
        <li>Separate timers of any type</li>
        <li>Cameras or any other photographic equipment</li>
        <li>Unacceptable calculators that have QWERTY (computer-like) keypads, use paper tape, make noise, or use a
            power cord
        </li>


    </div>

    <div class="text-center py-5" id="linkDiv">

        <a href="{% url 'index' %}" class="btn btn-secondary btn-lg d-none" id="startBtn">Start Section <i
                class="bi bi-arrow-right-circle"></i></a>
    </div>

        <br>


    <div id="jsData"></div>


    <script>

var selectedTest = localStorage.getItem("selectedTest")
var selectedTestId = localStorage.getItem("selectedTestId")
        function myTest() {
  document.getElementById("testName").innerHTML = `SAT: ${selectedTest} - ${selectedTestId}`
}

myTest()





    </script>

     <script>

        var progressPercentage = 0
        var x = setInterval(function () {
            document
                .getElementsByClassName("progress-bar")[0]
                .setAttribute("style", "width:" + progressPercentage + "%");

            progressPercentage += 5
<!--            console.log(progressPercentage)-->
            if (progressPercentage > 100) {



        document.getElementById("startBtn").classList.remove("d-none", "btn-secondary");
        document.getElementById("startBtn").classList.add("btn-outline-secondary");

                var goTest = `<a href="http://127.0.0.1:8000/cbtwriting_pk/${selectedTestId}  " class="btn btn-secondary btn-lg " id="startBtn">Start Section <i
                class="bi bi-arrow-right-circle"></i></a>`

        document.getElementById("linkDiv").innerHTML = goTest
                clearInterval(x);

            }

        }, 100);




    </script>
</div>


{% endblock %}