{% extends 'cbtsystem/index.html' %}

{% block content %}

<div class="container">

    <h5 id="testName" class="text-center text-warning">SAT: </h5>
    <br>
    <div class="d-flex justify-content-start text-danger pe-4 mb-3">
        <h3>
            <span class="text-light" onclick="timerFunction()" style="cursor: pointer;">Reading Directions Page &nbsp;
            </span>

        </h3>
    </div>
    <div class="ms-3">
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
        <li>use local storage to start of break time</li>
    </div>

    <div class="text-center py-5">

        <a href="{% url 'demo' %}" class="btn btn-secondary btn-lg d-none" id="startBtn">Start Next Section <i
                class="bi bi-arrow-right-circle"></i></a>
    </div>

    <hr>

   <div id="jsData"></div>


    <script>

var selectedTest = localStorage.getItem("selectedTest")
        function myTest() {
  document.getElementById("testName").innerHTML = "SAT: " + selectedTest;
}

myTest()



    </script>
    <script>
var apiList = [];
var studentApi = "";

const user_id = JSON.parse(document.getElementById("user_id").textContent);


function getPending() {
  fetch("http://127.0.0.1:8000/pendingapi")
    .then((resp) => resp.json())
    .then(function (data) {
      apiList = data;

      for (i in apiList) {
        if (apiList[i].studentId == user_id) {
          studentApi = apiList[i];
          break
        }
      }
    })
    .then(function () {
      console.log("studentApi", studentApi);
      document.getElementById("jsData").innerHTML = studentApi.studentAnswersReading;

      if (studentApi.testName === selectedTest) {

            localStorage.setItem("readingApi", studentApi.studentAnswersReading);
      localStorage.setItem("readingApiTime", studentApi.timeLeftReading);


      document.getElementById("startBtn").classList.remove("d-none", "btn-secondary");
      document.getElementById("startBtn").classList.add("btn-outline-warning");


      } else {


      localStorage.removeItem("readingApi");
        localStorage.removeItem("readingApiTime");
              document.getElementById("startBtn").classList.remove("d-none");

      }


    });
}

getPending();

</script>

</div>


{% endblock %}