<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platinum CBT</title>

    <link rel="shortcut icon" type="image/png"
          href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


</head>
<body class="bg-dark text-light">


<div class="container">

    <div class="text-secondary text-end mb-0 mt-1">

        {% if request.user.is_superuser %}<i class="bi bi-shield-check"></i>{% else %} * {% endif %}
        <i class="bi bi-person-circle"></i> {{request.user}} : {{request.user.id}}
        {{request.user.id|json_script:"user_id" }}
        <a href="{% url 'logoutpage' %}"><i class="bi bi-power text-danger"></i></a></div>


    <a href="{% url 'index' %}">index</a>
    <a href="{% url 'breakpage' %}">breakPage</a>
  <a href="{% url 'directions' %}">directions</a>
    <a href="{% url 'loginpage' %}">login</a>
    <a href="{% url 'demo' %}">cbt demo</a>
     <a href="{% url 'processtest' %}">processtest</a>
    <a href="http://127.0.0.1:8000/admin">admin</a>

    <hr class="bg-danger">
</div>

{% block content %}
<div class="container">
    <div class="card-group ">
        <div class="card">

            <div class="card-body bg-dark">
                <h5 class="card-title">Select Test <i class="bi bi-arrow-right-circle"></i></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">

            <div class="card-body bg-dark">
                <h5 class="card-title">Test History</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <br>
    <table class="table table-dark table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>

    <br>

    <li class="text-warning pb-2">
        This site is optimized for chromium based browsers such as Google Chrome, Brave, and Edge Browsers. Using Safari and/or deprecated browsers may lead to errors.
    </li>




<a class="btn btn-outline-primary btn-lg" href="{% url 'directions' %}" role="button">{{firstTest.name}}</a>


<p>{{firstTest.pdfLink}}</p>


<!--<div style="height: 85vh;-->
<!--        overflow-y: auto;"  >-->
<!--                            <iframe-->
<!--                                src={{firstTest.pdfLink}}-->
<!--                                width="100%"-->
<!--                                height="100%"-->
<!--                        ></iframe></div>-->
<!--    <br>-->
<!--    <br>-->
<!--</div>-->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>