<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platinum SAT</title>

    <!--    <link rel="shortcut icon" type="image/png"-->
    <!--          href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K">-->
    <!--    -->

    <!-- Bootstrap icons-->

    <link rel="shortcut icon" type="image/png" href="https://i.postimg.cc/sxXLWRys/logo-plativ2.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <!--    style="background-color:black;"-->

    <style>

            #userInfo {
            display:none;
        }

        @media(min-width:438px){
        #userInfo {
            display:block;
        }

        }


                    #userInfo2 {
            display:none;
        }

        @media(max-width:437px){
        #userInfo2 {
            display:block;
        }

        }









    </style>


</head>
<body class="bg-light text-dark d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg py-1" style="background-color: rgba(55,53,53,255); ">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="{% url 'index' %}">
            <img src="https://i.postimg.cc/sxXLWRys/logo-plativ2.png" alt="" width="30" height='auto'>
            Platinum Academy SAT
        </a>

        <div class="text-secondary text-end mb-0 mt-0" id="userInfo">

            {% if request.user.is_superuser %}<a href="http://127.0.0.1:8000/admin"><i
                class="bi bi-shield-check text-success"></i></a>{% else %} * {% endif %}
            <i class="bi bi-person-circle"></i> {{request.user}} : {{request.user.id}}
            {{request.user.id|json_script:"user_id" }}
            <a href="{% url 'logoutpage' %}"><i class="bi bi-power text-danger"></i></a></div>

    </div>
</nav>
<div class="text-secondary text-end mb-0 mt-0" id="userInfo2">

    {% if request.user.is_superuser %}<a href="http://127.0.0.1:8000/admin"><i
        class="bi bi-shield-check text-success"></i></a>
    {% else %} * {% endif %}
    <i class="bi bi-person-circle"></i> {{request.user}} : {{request.user.id}}
    {{request.user.id|json_script:"user_id" }}
    <a href="{% url 'logoutpage' %}"><i class="bi bi-power text-danger"></i></a></div>


<br>

<!--<div class="container">-->


<!--    <a href="{% url 'index' %}">index</a>-->
<!--    <a href="{% url 'breakpage' %}">breakPage</a>-->
<!--    <a href="{% url 'directions' %}">directions</a>-->
<!--    <a href="{% url 'loginpage' %}">login</a>-->
<!--    <a href="{% url 'demo' %}">cbt demo</a>-->
<!--    <a href="{% url 'processtest' %}">processtest</a>-->
<!--    <a href="{% url 'results' %}">results</a>-->
<!--    <a href="{% url 'history' %}">history</a>-->
<!--    <a href="http://127.0.0.1:8000/admin">admin</a>-->

<!--    <hr class="bg-danger">-->
<!--</div>-->


{% block content %}
<div class="container">
    <div class="text-muted">
Next Test: {{nextTest.next_test|date:"F d, Y"}} / <span id="demo" class="text-danger"></span> </div>
    <div class="card-group ">

        <div class="card bg-light text-dark  border-0">

            <div class="card-body ">
                <h5 class="card-title">Select Test <i class="bi bi-arrow-right-circle"></i></h5>
                <br>

                {% for t in testGroup|slice:":3" %}
                <div class="d-grid gap-2">
                    {% if t.id == inProgressTest %}
                    <button class="btn btn-outline-warning btn-lg mb-1 " onclick="showDetails(this)"
                            data-testId="{{t.id}}" data-test="{{t.name}}"> {{t.id}} {{t.name}}

                    </button>

                    {% else %}

                    <button class="btn btn-outline-secondary btn-lg  mb-1   " onclick="showDetails(this)"
                            data-testId="{{t.id}}" data-test="{{t.name}}"> {{t.id}} {{t.name}}

                    </button>

                    {% endif %}
                </div>
                {% endfor %}

                <br> <br>

            </div>
            <div class="card-footer border-0 bg-secondary ms-0">
                <p class="card-text text-warning  ">
                    <small> *Pending or test in progress are highlighted in yellow.</small>
                </p>
            </div>
        </div>

        <div class="card text-white bg-light border-0">

            <div class="card-body  ">
                <h5 class="card-title text-dark">Test Trend <i class="bi bi-graph-up"></i></h5>

                <canvas id="myChart"></canvas>
                <br>
                <p class="card-text text-end"><small class="text-muted">Last Test:
                    {{record.first.date_finished}}</small>
                </p>
            </div>
        </div>

    </div>
    <br>


    <p class="text-secondary"> Pending: <span
            class="text-dark">{{inProgress.testName}} - {{inProgress.date_started}}</span></p>


    <div>
        <div class="row">
            <div class="col text-end">
                <p>Verbal 1: {{percentR}}%</p>
                <div class="progress" style="height: 2px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentR}}%;"
                         aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col text-end">
                <p>Verbal 2: {{percentW}}%</p>
                <div class="progress" style="height: 2px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentW}}%;"
                         aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
        </div>
                <div class="row">
            <div class="col text-end">
                <p>Math 1: {{percentMA1}}%</p>
                <div class="progress" style="height: 2px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentMA1}}%;"
                         aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col text-end">
                <p>Math 2: {{percentMA2}}%</p>
                <div class="progress" style="height: 2px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentMA2}}%;"
                         aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>


    <br>

    <p class="text-secondary">Student Test History:</p>

    <table class="table   table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Test</th>
            <th scope="col">V1</th>
            <th scope="col">V2</th>
            <th scope="col">M1</th>
            <th scope="col">M2</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>

        {% for r in record|slice:":10" %}

        <tr>

            <td> {{forloop.counter}}</td>
            <td><a href="{% url 'results_pk' r.id %}" style="text-decoration:none;">{{r.testName}} &#8226;
                {{r.testId}}</a></td>
            <td>-{{r.numberInCorrectR}}</td>
            <td>-{{r.numberInCorrectW}}</td>
            <td>-{{r.numberInCorrectM1}}</td>
            <td>-{{r.numberInCorrectM2}}</td>
            <td> {{r.date_finished|date:"Y-m-d D"}}</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

    <br>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['7','6','5', '4', '3', '2', '1' ],
        datasets: [{
            label: 'Verbal 1',
            data: [{% for r in record|slice:":7" reversed %}  '-{{r.numberInCorrectR}}', {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }, {
            label: 'Verbal 2',
            data: [{% for r in record|slice:":7" reversed %}  '-{{r.numberInCorrectW}}', {% endfor %}],
<!--             data: ['-20', '-12', '-8', '-18', '-15', '-18', '-12'],-->
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },
        {
            label: 'Math 1',
            data: [{% for r in record|slice:":7" reversed %}  '-{{r.numberInCorrectM1}}', {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }, {
            label: 'Math 2',
            data: [{% for r in record|slice:":7" reversed %}  '-{{r.numberInCorrectM2}}', {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },



        ],
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});














</script>


<script>
function showDetails(clicked) {
  var testName = clicked.getAttribute("data-test");
  localStorage.setItem("selectedTest", testName);

    var testTypeId = clicked.getAttribute("data-testId");
  localStorage.setItem("selectedTestId", testTypeId);


  console.log(localStorage.getItem("selectedTest"))
  window.location.href = "{% url 'directions' %}";

}




</script>


{% endblock %}

<footer class="footer mt-auto py-3 border-top border-secondary" style="background-color: rgba(55,53,53,255);">
    <div class="container text-center"><small>
    <span> <a href="http://www.platinumacademy.co.kr" class="text-light text-decoration-none">&copy; Platinum Academy 2022</a>
    </span></small>
    </div>
    <div class="container text-center"><small>
    <span> <a href="https://www.evolution3w.com" class="text-muted text-decoration-none">Developed & Managed by Evolution3W.com</a>
    </span></small>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl, {html: true})
})


</script>


<script>
var nextDate = new Date({{ nextTest.next_test|date:"U" }} * 1000);

var countDownDate = new Date(nextDate)

var x = setInterval(function() {

  var now = new Date().getTime();

  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

              if (hours < 10) {
                hours = "0" + hours
            }
            if (minutes < 10) {
                minutes = "0" + minutes
            }
            if (seconds < 10) {
                seconds = "0" + seconds
            }

   document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "TIME EXPIRED";
  }
}, 1000);

</script>
</body>
</html>