<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platinum CBT</title>

    <!--    <link rel="shortcut icon" type="image/png"-->
    <!--          href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K">-->
    <!--    -->

    <!-- Bootstrap icons-->

    <link rel="shortcut icon" type="image/png" href="https://i.postimg.cc/sxXLWRys/logo-plativ2.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <!--    style="background-color:black;"-->


</head>
<body class="bg-dark text-light d-flex flex-column min-vh-100">

<div class="container">

    <div class="text-secondary text-end mb-0 mt-1">

        {% if request.user.is_superuser %}<i class="bi bi-shield-check"></i>{% else %} * {% endif %}
        <i class="bi bi-person-circle"></i> {{request.user}} : {{request.user.id}}
        {{request.user.id|json_script:"user_id" }}
        <a href="{% url 'logoutpage' %}"><i class="bi bi-power text-danger"></i></a></div>


    <a href="{% url 'index' %}">index</a>
    <a href="{% url 'breakpage' %}">breakPage</a>
    <a href="{% url 'directions' %}">directions</a>
    <a href="{% url 'loginpage' %}">login</a>
    <a href="{% url 'demo' %}">cbt demo</a>
    <a href="{% url 'processtest' %}">processtest</a>
    <a href="{% url 'results' %}">results</a>
    <a href="{% url 'history' %}">history</a>
    <a href="http://127.0.0.1:8000/admin">admin</a>

    <hr class="bg-danger">
</div>



{% block content %}
<div class="container">

    <div class="card-group ">

        <div class="card text-white bg-dark border-0">

            <div class="card-body ">
                <h5 class="card-title">Select Test <i class="bi bi-arrow-right-circle"></i></h5>
                <br>

                {% for t in testGroup|slice:":3" %}

                {% if t.id == inProgressTest %}
                <button class="btn btn-outline-warning btn-lg mb-1" onclick="showDetails(this)"
                        data-testId="{{t.id}}" data-test="{{t.name}}"> {{t.id}} {{t.name}}

                </button>

                {% else %}

                <button class="btn btn-outline-primary btn-lg  mb-1 " onclick="showDetails(this)"
                        data-testId="{{t.id}}" data-test="{{t.name}}"> {{t.id}} {{t.name}}

                </button>

                {% endif %}

                {% endfor %}

                <br> <br>

            </div>
                <div class="card-footer border-0">
                <p class="card-text text-warning  ">*Pending or test in progress are highlighted in yellow.</p>
</div>
        </div>

                <div class="card text-white bg-dark border-0">

            <div class="card-body  ">
                <h5 class="card-title">Test Trend </h5>

                <canvas id="myChart"></canvas>
                <br>
                <p class="card-text text-end"><small class="text-muted">Last Test: {{record.last.date_finished}}</small>
                </p>
            </div>
        </div>

    </div>
    <br>


    <p class="text-secondary"> Pending: <span class="text-light">{{inProgress.testName}} - {{inProgress.date_started}}</span></p>


    <div>
        <div class="row">
            <div class="col text-end">
                <p>Reading: {{percentR}}%</p>
                <div class="progress" style="height: 2px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentR}}%;" aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col text-end">
                <p>Writing: {{percentW}}%</p>
                <div class="progress" style="height: 2px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentW}}%;" aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>


    <br>

    <p class="text-secondary">Student Test History:</p>

    <table class="table table-dark table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Test</th>
            <th scope="col">R</th>
            <th scope="col">W</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>

        {% for r in record|slice:":10" %}

        <tr>

            <td> {{forloop.counter}}</td>
            <td><a href="{% url 'results_pk' r.id %}" style="text-decoration:none;">{{r.testName}} &#8226; {{r.testId}}</a></td>
            <td>-{{r.numberInCorrectR}}</td>
            <td>-{{r.numberInCorrectW}}</td>
            <td> {{r.date_finished}}</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

    <br>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['7','6','5', '4', '3', '2', '1' ],
        datasets: [{
            label: 'Reading',
            data: [{% for r in record|slice:":7" reversed %}  '-{{r.numberInCorrectR}}', {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }, {
            label: 'Writing',
<!--            data: [{% for r in record|slice:":5" reversed  %}  '-{{r.numberInCorrectW}}', {% endfor %}],-->
             data: ['-20', '-12', '-8', '-18', '-15', '-18', '-12'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }],
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
function showDetails(clicked) {
  var testName = clicked.getAttribute("data-test");
  localStorage.setItem("selectedTest", testName);

    var testTypeId = clicked.getAttribute("data-testId");
  localStorage.setItem("selectedTestId", testTypeId);


  console.log(localStorage.getItem("selectedTest"))
  window.location.href = "{% url 'directions' %}";

}


</script>



{% endblock %}

<footer class="footer mt-auto py-3 bg-dark border-top border-secondary">
  <div class="container text-center"><small>
    <span > <a href="https://www.evolution3w.com" class="text-muted text-decoration-none">Developed & Managed by Evolution3W.com</a>


    </span></small>
  </div>
</footer>
</body>
</html>